<!-- Bengin slider -->
<div class="body-slide">
    <div class="slider">
        <div class="slides">

            <!--radio button start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <!--radio button end-->

            <!--slider image start-->
            <div class="slide first">
                <a href="#"><img src="/img/slider1.jpg" alt=""></a>
            </div>
            <div class="slide">
                <a href="#"><img src="/img/slider2.jpg" alt=""></a>
            </div>
            <!--slider image end-->
            
        </div>
        <!--manual navigation start-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
        </div>
        <!--manual navigation end-->
    </div>
</div>
<!-- End slider -->